aiomysql==0.2.0
asyncio==3.4.3
bidict==0.23.1
breeze_connect==1.0.57
certifi==2024.8.30
charset-normalizer==3.3.2
h11==0.14.0
idna==3.8
numpy==2.1.1
pandas==2.2.2
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-socketio==5.11.4
pytz==2024.1
requests==2.32.3
scipy==1.14.1
simple-websocket==1.0.0
six==1.16.0
TA-Lib @ file:///E:/AnushkaBeautyParlor/TA_Lib-0.4.29-cp310-cp310-win_amd64.whl#sha256=e40bf376fb2b224c981c568b7f37d992b289d423889bfd5cee0145fd9aa3adc7
tradingview-datafeed==2.1.1
tzdata==2024.1
urllib3==2.2.2
websocket-client==1.8.0
wsproto==1.2.0
